[Desktop Entry]
Type=Application
Name=Pdf Compress
Comment=Run pdf_compress.py
Icon=text-x-python
Exec=konsole --hold -e python3 "/media/lauloque/Fenetre/Users/Lauloque/Documents/Repositories/pdf_lock_and_compress/pdf_compress.py" %F
Terminal=true
Categories=Utility;
